* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgb(77, 76, 76), rgb(33, 31, 31));
  color: hsl(200, 100%, 90%);
  max-width: 400px;
  min-width: 250px;
  padding: rem;
  margin: 0 auto;
  margin-left: 1rem;
  margin-right: 1rem;
}
.controlContainer {
  box-shadow: 0px 0px 7px #0c0e08;
}
.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.form-row {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.title1 {
  overflow-wrap: break-word;
  text-shadow: 0.5px 0.5px 1px #000000;
  letter-spacing: 0.011cm;
}
.btn {
  background: hsl(200, 100%, 50%, 0.1);
  border: 1px solid hsl(200, 100%, 50%);
  font-size: 15px;
  box-shadow: 1px 1px 7px #0c0e08;
  text-shadow: 2px 2px 4px #0c0e08;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
  margin-left: .1rem;
  margin-right: .42rem;
 
}


.btn2 {
  font-size: 15px;
  background: hsl(200, 100%, 50%, 0.1);
  border: 1px solid hsl(200, 100%, 50%);
  box-shadow: 1px 1px 7px #0c0e08;
  text-shadow: 2px 2px 4px #0c0e08;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
  margin-left: .1rem;
  margin-right: .1rem;
}



.btn.btn-danger {
  background: hsl(0, 100%, 40%, 0.1);
  border: none;
  color: hsl(0, 100%, 30%);
 
}


.copyButton {
  text-shadow: 1px 1px 2px #000000;
}
.new-item-form input {
  outline: none;
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 100%, 30%);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: #ffebcd;
  font-size: larger;
  text-shadow: #0c0e08 1px 1px 1px;
}

.new-item-form input:focus {
  border: 1px solid hsl(200, 100%, 70%);
}

.header {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 24px;

  text-decoration-thickness: 2px;
  text-shadow: 1px 1px 2px #000000;
}

.label1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  margin: 0, auto;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0px 0px 4px #000000;
  text-shadow: 1px 1px 2px #000000;
}

.checkbox1 {
  border: none;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.list li:has(input:checked) label {
  color: hsl(333, 20%, 40%);
  text-shadow: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: aliceblue;
}

.list li label {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
}

.list li:has(input:focus-visible) label {
  outline: 1px solid hsl(200, 100%, 50%);
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: hsl(200, 100%, 90%);
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.25rem;
}

.list li label:hover::before {
  background: hsl(200, 100%, 80%);
}

.list li:has(input:checked) label::before {
  content: "✅";
  background: hsl(200, 100%, 40%);
  color: hsl(200, 100%, 90%);
  font-size: 0.75rem;
  font-weight: bold;
}

.list li:has(input:checked) label:hover::before {
  background: hsl(200, 100%, 30%);
}
.oldFart {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 0.4rem;
  box-shadow: 2px 2px 4px #000000;
}
.placeHolder1 {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  text-shadow: 1px 1px 1px #000000;
  margin-bottom: 0.4rem;
  box-shadow: 2px 2px 4px #000000;
  background: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.03cm;
}
