.showInstallButton {
  border: 2px solid black;
  padding: 2px;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  margin-top: 10px;
   
}
.installAppButton {
  background: linear-gradient(to top, #00b09b, #96c93d);
 
  color: black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px;
}
